// asset
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&family=Monda:wght@400;700&family=Montserrat:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@600&display=swap');
$ff1:Monda;
$ff2:IBM Plex Mono;
$ff3:Montserrat;
$red:#e74c3c;
$greeb:#00BFA6;
$black:#34495e;
$white:#ecf0f1;
$yellow:#f1c40f;
$blue:#3498db;